/* src/Styles/SplashScreen.css */
.splash-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.splash-container-1 {
  padding: 20px;
  background-color: #F5F5F5;
}

.splash-header {
  margin-bottom: 40px;
  text-align: center;
}

  .splash-header h1 {
    font-size: 2.5em;
    color: #0C4DA2;
    margin-bottom: 10px;
  }

  .splash-header p {
    font-size: 1.2em;
    color: #555555;
  }

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button button {
  width: 250px;
  padding: 0.5rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}